<!DOCTYPE html>
<html>
  <head>
    <title>WNS349</title>
    <% include lib %>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">wns349</a>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <h1>ERROR</h1>
      </div>
      <div class="row">
        <div id="folders">
          <div id="loadingFolders">
            <p class="lead">ERROR PAGE NOT FOUND</p>
          </div>
        </div>
      </div>
    </div>
    <!-- /.container -->
  </body>
</html>
